fastapi[standard]
pydantic_settings
chromadb
langchain
langchain-chroma
langchain_community
langchain-ollama
uvicorn
tiktoken
tavily-python
bs4
langgraph
langgraph_sdk
pdfplumber
torch
torchvision
unstructured[pdf]
PyMuPDF
pdf2image
pytesseract
requests