langchain
langchain-core
langchain_community
tiktoken
langchain-nomic
nomic[local]
langchain-ollama
scikit-learn
langgraph
tavily-python
beautifulsoup4
langchain-chroma
pdfplumber
chromadb
langchain-experimental
pillow<11.0.0,>=10.3.0
open_clip_torch
matplotlib
PyMuPDF
unstructured[all-docs]
pydantic
lxml
pdf2image
python-dotenv
poppler-utils
pytesseract
openai
langchain_google_vertexai
jupyter-core
redis
fastapi[standard]
uvicorn
pydantic_settings
langchain-openai
langgraph-cli
ipywidgets
torch
langgraph_sdk
requests